*{
    margin: 0;
    padding: 0;
   

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 500%;
    font-style: italic;
    font-display:center;
    font-variant: inherit;

}
.container
{
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 231, 231);
    justify-content: center;
    align-items: center;
    display: flex;
}
.calculator
{
    
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.kNvwD4D-Wop2JeAvUJRVlwHaJQ&pid=Api&P=0&h=180);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    border-radius: 10%;
    color: transparent;
}
.calculator form input
{
    padding: 15 px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow:-8xp -8xp 15xp rdgb(255,255,255,0.1),5xp 5xp 15xp rdgb(0,0,0,0.2);
    background-color:rgb(155, 153, 154);
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin:   20px 0;  
}
form .display input{
text-align:right;
   flex: 1;
    font-size:45px;
}

